*.class

# Package Files #
*.war
*.ear
/firmware/LUFA
/Femulator/build/
/Femulator/MapEditor/build/
/Femulator/MapViewer/build/
/Femulator/F1Api/build/
/femulator/F1Api/build/
/femulator/MapEditor/build/
/femulator/MapViewer/build/
/Femulator/F1Api/nbproject/private/
/Femulator/MapEditor/nbproject/private/
/Femulator/MapViewer/nbproject/private/
/Femulator/nbproject/private/
/Femulator/Log4j/build/
/nbproject/private/
/Femulator/Log4j/nbproject/private/
